* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

a {
    list-style-type: none;
}

body {

    background-image: url(./depositphotos_190890494-stock-photo-istanbul-turkey-16-march-2007.jpg);
    background-size: cover;

}

.container {
    margin: 80px auto;
    max-width: 380px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

header {
    height: 50px;
    padding: 15px 500px;
    justify-content: center;
    align-items: center;
    background: rgb(34, 172, 187);

    a {
        justify-content: space-between;
        font-size: 24px;
        font-weight: bolder;
        gap: 30px;
        padding: 10px;
        align-items: center;
    }
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    display: block;

}


input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    outline: none;
}

.form_password {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;

}

.form_password input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

img {
    cursor: pointer;
}



button {
    margin-top: 40px;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: #00ff8c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}